.cadre{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-size: 25px;
}

.enTeteTableau{
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-style: italic;
}

.accordion-button{
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.iconeStatut{
    width: 30%;
}

.lienlogo{
    color: white;
    text-transform: uppercase;
    font-style: italic;
}